header {
  height: 60px;
  background-color: #E3E3E3;

}

.title {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  font-style: normal;
  font-weight: bold;
  font-size: 1.0em;
  display: flex;
  align-items: center;
  justify-content: center;
}
