<div class="table-wrapper">
  <table class="root-group">
    <tr>
      <th>{{getRootGroupName()}}s' allocations</th>
    </tr>
    <app-sub-group *ngIf="isRootGroupManager(); else departmentGroup" [employee]="getRootGroup()"></app-sub-group>
    <ng-template #departmentGroup>
      <app-sub-group
        *ngFor="let employee of getRootGroup().employees | keyvalue"
        [employee]="employee.value"
      >
      </app-sub-group>
    </ng-template>
  </table>
  <div class="btn-wrapper" *ngIf="!isRootGroupManager()">
    <button (click)="openModal()" class="add-btn" aria-label="add new employee">
      <fa-icon [icon]="plus"></fa-icon>
    </button>
  </div>
</div>
