<div class="table-wrapper">
  <section class="root-group">
    <h1 class="table-header">{{getRootGroupName()}}s' allocations</h1>
    <div app-sub-group
      *ngIf="isRootGroupManager(); else departmentGroup"
      [employee]="getRootGroup()"
    >
  </div>
    <ng-template #departmentGroup>
      <div app-sub-group
        *ngFor="let employee of getRootGroup().employees | keyvalue"
        [employee]="employee.value"
      >
    </div>
    </ng-template>
  </section>
  <div class="btn-wrapper" *ngIf="!isRootGroupManager()">
    <button (click)="openModal()" class="add-btn" aria-label="add new employee">
      <fa-icon [icon]="plus"></fa-icon>
    </button>
  </div>
</div>
