.table-wrapper {
  width: 100%;
  height: calc(100% - 60px);
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
}

.table-header {
  background-color: #C4C4C4;
  border-radius: 22.5px 22.5px 0 0;
  text-align: center;
  line-height: 45px;
  margin-bottom: 0;
}

.root-group,
.btn-wrapper {
  width: 90%;
  max-width: 1200px;
}

.group {
  line-height: 40px;
  min-height: 40px;
  height: fit-content;
  display: block;
  align-items: center;
  font-weight: 100;
  padding: 0 10px;
}

.add-btn {
  background-color: #D0FFBA;
  height: 35px;
  width: 45px;
  border: none;
  border-radius: 22.5px;
  margin-right: auto;
}
