<div class="table-wrapper">
  <section class="root-group">
    <h1 class="table-header">{{getRootGroupName()}}'s Allocations</h1>
    <div app-sub-group
      class="group"
      *ngIf="isRootGroupManager(); else departmentGroup"
      [employee]="getRootGroup()"
      [isRootManager]="isRootGroupManager()"
    >
  </div>
    <ng-template #departmentGroup>
      <div app-sub-group
        class="group"
        *ngFor="let employee of getRootGroup().employees | keyvalue"
        [employee]="employee.value"
        (removeEmployee)="removeSubordinate($event)"
      >
    </div>
    </ng-template>
  </section>
  <div class="btn-wrapper" *ngIf="!isRootGroupManager()">
    <button (click)="openModal()" class="add-btn" aria-label="add new employee">
      <fa-icon [icon]="plus"></fa-icon>
    </button>
  </div>
</div>

<div class="total-wrapper">
  <h2 class="total-text">Total:</h2>
  <span class="total-text">{{getTotalAllocation() | currency : 'USD'}}</span>
</div>
