<h2 class="modal-title">Add {{rootType}}</h2>
<form [formGroup]="managerForm" [hidden]="rootType === 'Department'">
  <div class="input-group">
    <label for="first-name" class="input-label">
      First Name
      <input
        formControlName="firstName" id="first-name"
        type="text" class="input-field"
        [ngClass]="{'input-field-error': isFirstNameValid()}"
      />
    </label>
    <em
      class="error-tag"
      [ngClass]="{'et-show': isFirstNameValid()}"
    >error</em>
  </div>
  <div class="input-group">
    <label for="last-name" class="input-label">
      Last Name
      <input
        formControlName="lastName" id="last-name"
        type="text" class="input-field"
        [ngClass]="{'input-field-error': isLastNameValid()}"
      />
    </label>
    <em
      class="error-tag"
      [ngClass]="{'et-show': isLastNameValid()}"
    >
      error
    </em>
  </div>
  <div class="btn-wrapper">
    <button
      class="create-btn"
      (click)="createRootManager()"
      [disabled]="this.managerForm.invalid"
      type="submit"
    >Create</button>
  </div>
</form>
<form [formGroup]="departmentForm" [hidden]="rootType === 'Manager'">
  <div class="input-group">
    <label for="dept-name" class="input-label">
      Name
      <input
        formControlName="departmentName"
        id="dept-name" type="text"
        class="input-field"
        [ngClass]="{'input-field-error': isDepartmentNameValid()}"
      />
    </label>
    <em
      class="error-tag"
      [ngClass]="{'et-show': isDepartmentNameValid()}"
    >error</em>
  </div>
  <div class="btn-wrapper">
    <button
      class="create-btn"
      (click)="createRootDepartment()"
      [disabled]="this.departmentForm.invalid"
      type="submit"
    >Create</button>
  </div>
</form>
<div class="btn-wrapper">
  <button
    class="switch-btn"
    (click)="switchRootType()"
  >
    add a {{rootType === 'Manager' ? 'Department' : 'Manager'}} instead
  </button>
</div>
