/* You can add global styles to this file, and also import other style files */
body,
html {
  margin: 0;
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: calc(1em + 1vw);
}
